<%- include('partials/header', { currentPage: 'about' }) %>
<main>
	<h1>About</h1>
	<p>This website gives you a portable option for checking when the next subway, trolley, or bus is arriving at a stop in the Boston Metro area.</p>
</main>
</div>
</body>
</html>