<%- include('partials/header', {currentPage: 'arrivals'}) %>
			<main>
				<div class="main-content-wrapper">
					<section class="stop-info">
						<h1 class="stop-name">Stop Name</h1>
						<ul>
							<li>Stop 1</li>
							<li>Stop 2</li>
							<li>Stop 3</li>
							<li>Stop 4</li>
							<li>Stop 5</li>
						</ul>
					</section>
				</div>
			</main>
		</div>
	</body>
</html>