<%- include('partials/header', {currentPage: 'arrivals', stationFound: stationFound}) %>

<% if(stationFound) { %>
				<main>

					<!-- Bus -->
					<section class="stop-container">
						<h1 class="route-name bus-stop">
							<span class="stop-num">88</span>
							<span>Clarendon Hill - Lechmere via Highland Avenue</span>
						</h1>
						<h2 class="direction">Inbound → Lechmere</h2>
						<ul>
							<li><span class="arrival-time">1 min</span><span>Highland Ave @ Vinal Ave</span></li>
							<li><span class="arrival-time">21 min</span><span>Highland Ave @ Vinal Ave</span></li>
							<li><span class="arrival-time">39 min</span><span>Highland Ave @ Vinal Ave</span></li>
						</ul>
						<h3 class="direction">Outbound → Clarendon Hill</h3>
						<ul>
							<li><span class="arrival-time">8 min</span><span>Highland Ave @ Vinal Ave</span></li>
							<li><span class="arrival-time">29 min</span><span>Highland Ave @ Vinal Ave</span></li>
							<li><span class="arrival-time">42 min</span><span>Highland Ave @ Vinal Ave</span></li>
						</ul>
					</section>

					<!-- Subway -->
					<section class="stop-container">
						<h1 class="route-name red-line">
							<img alt="MBTA T Logo" class="T-logo" src="imgs/T-logo-w-transparent-bk.svg">
							<span>Red Line</span>
						</h1>
						<h2 class="direction">Southbound → Braintree/Ashmont</h2>
						<ul>
							<li><span class="arrival-time">2 min</span><span>Porter Sq. (to Braintree)</span></li>
							<li><span class="arrival-time">5 min</span><span>Porter Sq. (to Ashmont)</span></li>
							<li><span class="arrival-time">7 min</span><span>Porter Sq. (to Braintree)</span></li>
						</ul>
						<h2 class="direction">Northbound → Alewife</h2>
						<ul>
							<li><span class="arrival-time">3 min</span><span>Porter Sq.</span></li>
							<li><span class="arrival-time">9 min</span><span>Porter Sq.</span></li>
							<li><span class="arrival-time">15 min</span><span>Porter Sq.</span></li>
						</ul>
					</section>
				</main>
<% } else { %>
				<main class="flex-and-center reverse-top-margin">
					<p class="h1-like center-horizontal">Couldn't find "<%= stationName %>". Please try again.</p>
					<form action="/arrivals" method="get">
						<h2 class="form-title">Enter Your Station</h2>
						<label for="station-name" class="hide">Station Name</label>
						<input type="text" name="station-name" placeholder="Ex: South Station">
						<input type="submit" value="Get Times">
					</form>
				</main>
<% } %>
					
			
	</body>
</html>