<%- include('partials/header', {currentPage: 'home'}) %>
			<main class="flex-and-center">
					<h1 class="reverse-top-margin mobile-margin">Check the arrival times for your T stop</h1>
					<form action="/arrivals" method="get">
							<h2 class="form-title">Enter Your Station</h2>
							<label for="station-name" class="hide">Station Name</label>
							<input type="text" name="station-name" placeholder="Ex: South Station">
							<input type="submit" value="Get Times">
					</form>
			</main>
		</div>
	</body>
</html>