<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Check the T | Arrival times for your T station or stop</title>
		<meta name="description" content="Better plan for your trips by checking when the next train or bus will arrive at your T stop.">
		<meta name="author" content="Tom Tillistrand">
		<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
	</head>
	<body>
		<div class="wrapper">
			<header>
				<div class="logo">Check The T</div>
				<nav>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Login</a></li>
					</ul>
				</nav>
			</header>
			<main>
				
			</main>
		</div>
	</body>
</html>