<%- include('partials/header', {currentPage: 'home'}) %>
			<main>
				<div class="main-content-wrapper">
					<h2>Check the arrival times for your T stop</h2>
					<form action="/arrivals" method="get">
							<h3>Enter Your Station</h3>
							<label for="station-name" class="hide">Station Name</label>
							<input type="text" name="station-name" placeholder="Ex: South Station">
							<input type="submit" value="Get Times">
					</form>
				</div>
			</main>
		</div>
	</body>
</html>