.ArrivalCalcForm {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

@media (min-width: 800px){
  .ArrivalCalcForm {
    grid-gap: 1em;
  }
}

.ArrivalCalcForm__form-group:first-child {
  grid-column: 1 / -1;
}

.ArrivalCalcForm__form-control{
  padding: 1.1em .75em .75em 35px;
  background-position: 7px center;
  background-repeat: no-repeat;
}

.ArrivalCalcForm__form-group label {
  padding-left: 35px;
  left: 0;
}

.ArrivalCalcForm__form-group.form-group--active label {
  transform: translateX(12px) scale(0.7);

}

[name="stop"] {
  background-image: url('pin.svg');
}

[name="line"]{
  background-image: url('route.svg');
}

[name="direction"]{
  background-image: url('dir.svg');
}

.ArrivalCalcForm__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  z-index: 5;
  border-radius: 5px;
}

.ArrivalCalcForm__suggestion {
  padding: .5em 35px;
  cursor: pointer;
}

.ArrivalCalcForm__suggestion:hover, .ArrivalCalcForm__suggestion:focus {
  background: #f8f8f8;
}