.hamburger {
  padding: 10px 5px;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px){
  .hamburger {
    display: none;
  }
}

.hamburger-box {
  width: 35px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 100%;
  background-color: var(--text-color-dark);
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: var(--text-color-dark);
}