.NavList {
  position: absolute;
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  width: 100%;
  background: white;
  transition: transform .2s ease-in-out;
  z-index: -1;
  box-shadow: 0 1px 13px 0 rgba(118, 118, 118, .17);
}

.NavList--show {
  transform: translateY(0);
}

@media (min-width: 600px){
  .NavList {
    height: auto;
    position: static;
    width: auto;
    flex-direction: row;
    transform: translate(0);
    transition: none;
    box-shadow: none;
  }
}

.NavList__list-item {
  width: 95%;
  margin: 0 auto;
  text-align: left;
}

@media (min-width: 600px){
  .NavList__list-item {
    width: auto;
  }

  .NavList__list-item:not(:last-child) {
    margin-right: 1.3em;
  }
}

.NavList__link {
  display: inline-block;
  padding: .4em 0;
  color: var(--text-color-dark);
  font-weight: 400;
  transition: none;
}

@media (min-width: 600px){
  .NavList__link {
    display: block;
  }
}

.NavList__link:hover, .NavList__link:focus {
  text-decoration: none;
  color: var(--text-color-dark);
  font-weight: 700;
}

.NavList__link--active {
  font-weight: 700;
}